@font-face {
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    src:local("Roboto"),
        url(fonts/Roboto-Regular.woff2) format("woff2")
}
@font-face {
    font-family:Roboto;
    font-style:normal;
    font-weight:700;
    src:local("Roboto Bold"),
        url(fonts/Roboto-Bold.woff2) format("woff2")
}
@font-face {
    font-family:"Open Sans";
    font-style:normal;
    font-weight:400;
    src:local("Open Sans"),
        url(fonts/OpenSans-Regular.woff2) format("woff2")
}
@font-face {
    font-family:"Open Sans";
    font-style:normal;
    font-weight:700;
    src:local("Open Sans Bold"),
        url(fonts/OpenSans-Bold.woff2) format("woff2")
}
.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color:transparent;
    position:relative
}
.owl-carousel {
    display:none;
    width:100%;
    z-index:1
}
.owl-carousel .owl-stage {
    position:relative;
    -ms-touch-action:pan-Y
}
.owl-carousel .owl-stage:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0
}
.owl-carousel .owl-stage-outer {
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0)
}
.owl-carousel .owl-item {
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-touch-callout:none
}
.owl-carousel .owl-item img {
    display:block;
    width:100%;
    -webkit-transform-style:preserve-3d
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display:none
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-loaded {
    display:block
}
.owl-carousel.owl-loading {
    opacity:0;
    display:block
}
.owl-carousel.owl-hidden {
    opacity:0
}
.owl-carousel.owl-refresh .owl-item {
    display:none
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.owl-carousel.owl-grab {
    cursor:move;
    cursor:grab
}
.owl-carousel.owl-rtl {
    direction:rtl
}
.owl-carousel.owl-rtl .owl-item {
    float:right
}
.no-js .owl-carousel {
    display:block
}
.owl-carousel .animated {
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.owl-carousel .owl-animated-in {
    z-index:0
}
.owl-carousel .owl-animated-out {
    z-index:1
}
.owl-carousel .fadeOut {
    -webkit-animation-name:fadeOut;
    animation-name:fadeOut
}
@-webkit-keyframes fadeOut {
0% {
    opacity:1
}
100% {
    opacity:0
}
}
@keyframes fadeOut {
0% {
    opacity:1
}
100% {
    opacity:0
}
}
.owl-height {
    transition:height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy {
    opacity:0;
    transition:opacity .4s ease
}
.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d
}
.owl-carousel .owl-video-wrapper {
    position:relative;
    height:100%;
    background:#000
}
.owl-carousel .owl-video-play-icon {
    position:absolute;
    height:80px;
    width:80px;
    left:50%;
    top:50%;
    margin-left:-40px;
    margin-top:-40px;
    background:url(images/owl.video.play.png) no-repeat;
    cursor:pointer;
    z-index:1;
    -webkit-backface-visibility:hidden;
    transition:-webkit-transform .1s ease;
    transition:transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3);
    transform:scale(1.3,1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
    display:none
}
.owl-carousel .owl-video-tn {
    opacity:0;
    height:100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    transition:opacity .4s ease
}
.owl-carousel .owl-video-frame {
    position:relative;
    z-index:1;
    height:100%;
    width:100%
}
body {
    font-family:Poppins,sans-serif;
    color:#101010;
    background-color:#fff
}
.layout_padding {
    padding:75px 0
}
.layout_padding2 {
    padding:45px 0
}
.layout_padding2-top {
    padding-top:45px
}
.layout_padding2-bottom {
    padding-bottom:45px
}
.layout_padding-top {
    padding-top:75px
}
.layout_padding-bottom {
    padding-bottom:75px
}
.custom_heading-container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.custom_heading-container h2 {
    color:#000;
    font-weight:700;
    position:relative
}
.custom_heading-container h2::before {
    content:"";
    width:60px;
    height:3px;
    position:absolute;
    left:0;
    bottom:-2px;
    background-color:#6bd1bd
}
.custom_heading-container h2::after {
    content:"";
    width:10px;
    height:10px;
    position:absolute;
    top:50%;
    right:-15px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background-color:#fb1004;
    border-radius:100%
}
.hero_area {
    height:100vh;
    background-image:url(../images/hero-bg.png)
}
.sub_page .hero_area {
    height:auto
}
.hero_area.sub_pages {
    height:auto
}
.header_section .active a {
    color:#0caa7d!important
}
.header_section .call_btn {
    margin-left:auto
}
.header_section .call_btn a {
    color:#000
}
.header_section .container-fluid {
    padding-right:25px;
    padding-left:25px
}
.header_section .nav_container {
    margin:0 auto
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding:10px 30px;
    color:#070101;
    text-align:center
}
.custom_nav-container .user_option {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.custom_nav-container .user_option .login_btn-container a {
    display:inline-block;
    padding:10px 30px;
    color:#070101;
    text-align:center
}
a,
a:focus,
a:hover {
    text-decoration:none
}
a:focus,
a:hover {
    color:initial
}
.btn,
.btn:focus {
    outline:0!important;
    -webkit-box-shadow:none;
    box-shadow:none
}
.nav_search-btn {
    background-image:url(../images/search-icon-black.png);
    background-size:22px;
    background-repeat:no-repeat;
    width:35px;
    height:35px;
    padding:0;
    border:none
}
.navbar-brand img {
    width:45px
}
.navbar-brand,
.navbar-brand:hover {
    color:#0878a0;
    font-size:22px;
    font-weight:600;
    text-transform:uppercase
}
.custom_nav-container {
    z-index:99999;
    padding:15px 0
}
.custom_nav-container .navbar-toggler {
    outline:0
}
.custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image:url(../images/menu.png);
    background-size:55px
}
.slider_section {
    margin-top:-75px
}
.slider_section .row {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.slider_section .detail-box h1 {
    font-size:4rem;
    font-weight:700
}
.slider_section .detail-box p {
    margin:15px 0
}
.slider_section .detail-box a {
    display:inline-block;
    padding:10px 45px;
    background-color:#fb1004;
    color:#fff;
    border-radius:0;
    margin-top:15px
}
.slider_section .detail-box a:hover {
    background-color:#b00b03;
    color:#fff
}
.slider_section .img-box img {
    width:100%
}
.slider_section .carousel-control-next,
.slider_section .carousel-control-prev {
    position:absolute;
    left:2.5%;
    width:45px;
    height:45px;
    border:none;
    top:47%
}
.slider_section .carousel-control-prev {
    -webkit-transform:translate(-50%,55px);
    transform:translate(-50%,55px)
}
.carousel-control-next,
.carousel-control-prev {
    background-color:#0caa7d;
    background-repeat:no-repeat;
    background-size:10px;
    background-position:center;
    opacity:1;
    border-radius:7px
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color:#fb1004
}
.carousel-control-prev {
    background-image:url(../images/left-arrow-black.png)
}
.carousel-control-prev:hover {
    background-image:url(../images/left-arrow-white.png)
}
.carousel-control-next {
    background-image:url(../images/right-arrow-black.png)
}
.carousel-control-next:hover {
    background-image:url(../images/right-arrow-white.png)
}
.menu_fixed-position {
    position:fixed;
    top:0;
    width:100%;
    z-index:99999999999999999999999999
}
.custom_menu-container {
    background-color:#0caa7d
}
.custom_menu-container .custom_menu {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.custom_menu-container .custom_menu .navbar-nav {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row
}
.custom_menu-container .custom_menu .navbar-nav .nav-link {
    padding:15px 30px;
    color:#fff;
    text-align:center
}
.custom_menu-container .custom_menu .user_option {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end
}
.custom_menu-container .custom_menu .user_option .login_btn-container a {
    display:inline-block;
    padding:15px 30px;
    color:#fff;
    text-align:center
}
.custom_menu-container .nav_search-btn {
    background-image:url(../images/search-icon.png)
}
.about_section .row {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.about_section .img-box img {
    width:100%
}
.about_section .detail-box p {
    margin-top:25px
}
.about_section .detail-box a {
    display:inline-block;
    padding:12px 45px;
    background-color:#fb1004;
    color:#fff;
    border-radius:10px;
    margin-top:25px
}
.about_section .detail-box a:hover {
    background-color:#b00b03;
    color:#fff
}
.do_section .content-box {
    color:#fff;
    text-align:center;
    padding:10px 15px;
    border-radius:15px;
    margin:25px 0
}
.do_section .content-box img {
    height:70px;
    margin:15px
}
.do_section .content-box.bg-red {
    background-color:#fb1004
}
.do_section .content-box.bg-green {
    background-color:#0ca57a
}
.skill_section {
    background-image:url(../images/skill-bg.jpg);
    background-size:cover;
    background-repeat:no-repeat
}
.skill_section .row .col-md-3 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    text-align:center;
    color:#fff;
    margin:25px 0
}
.skill_section .row .col-md-3 h6 {
    font-weight:700;
    margin-top:20px;
    font-size:18px
}
.skill_section .skill_padding {
    padding:75px 0
}
.skill_section .custom_heading-container {
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end
}
.skill_section .custom_heading-container h2 {
    color:#fff
}
.skill_section .custom_heading-container h2::after,
.skill_section .custom_heading-container h2::before {
    background-color:#fff
}
.skill_section .progress_text {
    font-size:24px!important;
    color:#fff;
    font-weight:700
}
.portfolio_section .row .col-md-6 {
    margin:45px 0
}
.portfolio_section .box {
    position:relative;
    border-radius:10px;
    overflow:hidden
}
.portfolio_section .box.b-1,
.portfolio_section .box.b-4 {
    margin-bottom:20px
}
.portfolio_section .box img {
    width:100%
}
.portfolio_section .box h4 {
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    width:100%;
    text-align:center;
    color:#fff;
    font-weight:700;
    font-size:28px;
    -webkit-filter:drop-shadow(8px 3px 8px #000);
    filter:drop-shadow(8px 3px 8px #000)
}
.client_section .custom_heading-container {
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.client_section .client_container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
.client_section .client_box {
    background-color:#f3f3f3;
    margin-left:25px;
    margin-right:25px;
    padding:25px;
    border-radius:20px
}
.client_section .client_box.b-2 {
    margin-top:135px
}
.client_section .client_box .client-id {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end
}
.client_section .client_box .client-id .img-box {
    border-radius:10px;
    overflow:hidden
}
.client_section .client_box .client-id .img-box img {
    width:100%
}
.client_section .client_box .client-id .name {
    margin-left:10px
}
.client_section .client_box .client-id .name h5 {
    text-transform:uppercase;
    color:#0caa7d;
    font-weight:700
}
.client_section .client_box .detail {
    margin-top:25px
}
.client_section .carousel-control-next,
.client_section .carousel-control-prev {
    width:60PX;
    height:60PX;
    border-radius:100%;
    top:40%;
    background-size:10px
}
.client_section .carousel-control-prev {
    left:-75px
}
.client_section .carousel-control-next {
    right:-75px
}
.contact_section {
    background-color:#0ca57a;
    color:#fff;
    background-size:cover;
    background-repeat:no-repeat
}
.contact_section .row {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.contact_section h2 {
    margin-bottom:45px;
    font-family:Roboto,sans-serif;
    font-weight:700
}
.contact_section form {
    padding-right:35px
}
.contact_section input {
    width:100%;
    border:0;
    height:50px;
    border-radius:25px;
    margin-bottom:25px;
    padding-left:25px;
    background-color:#fff;
    border:1px solid #bbb;
    outline:0;
    color:#101010
}
.contact_section input::-webkit-input-placeholder {
    color:#131313
}
.contact_section input:-ms-input-placeholder {
    color:#131313
}
.contact_section input::-ms-input-placeholder {
    color:#131313
}
.contact_section input::placeholder {
    color:#131313
}
.contact_section input.message-box {
    height:120px
}
.contact_section button {
    background-color:#fa0909;
    padding:15px 55px;
    outline:0;
    border:none;
    border-radius:30px;
    color:#fff;
    font-family:Roboto,sans-serif
}
.contact_section button:hover {
    background-color:#cc0404
}
.info_section {
    background-color:#201f33;
    color:#fff;
    font-family:'Open Sans',sans-serif
}
.info_section h4 {
    font-weight:700;
    margin-bottom:20px
}
.info_links ul {
    padding-left:15px
}
.info_links ul .active::before {
    background-color:#0caa7d
}
.info_links ul li {
    list-style-type:none;
    position:relative
}
.info_links ul li::before {
    content:"";
    left:-15px;
    top:50%;
    position:absolute;
    width:8px;
    height:8px;
    background-color:#fff;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%)
}
.info_links ul li a {
    color:#fff
}
.info_form input {
    width:100%;
    border:none;
    height:45px;
    margin-bottom:25px;
    padding-left:25px;
    background-color:#eaeaea;
    outline:0;
    color:#101010
}
.info_form button {
    background-color:#0caa7d;
    padding:8px 35px;
    outline:0;
    border:none;
    border-radius:30px;
    color:#fff;
    text-transform:uppercase
}
.info_form button:hover {
    background-color:#097a5a
}
.info_social .social_container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.info_social .social_container a {
    margin:0 5px
}
.info_social .social_container a img {
    width:35px
}
.info_contact>div {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
.info_contact>div img {
    width:20px;
    height:auto;
    margin-right:12px
}
.footer_section {
    background-color:#201f33;
    font-weight:500;
    font-family:Roboto,sans-serif
}
.footer_section p {
    border-top:1px solid #fff;
    width:60%;
    color:#fff;
    margin:0 auto;
    text-align:center;
    padding:20px 35px
}
.footer_section a {
    color:#fff
}
@media (max-width:1120px) {
    .contact_section .col-lg-4.offset-lg-2.col-md-5.offset-md-1 {
        margin-top:45px;
        margin-bottom:45px
    }
}
@media (max-width:992px) {
    .header_section .call_btn {
        display:none
    }
    .custom_menu-container {
        display:none
    }
    .slider_section {
        margin:0
    }
    .client_section .client_container {
        flex-direction:column
    }
    .client_section .client_box.b-2 {
        margin-top:45px
    }
    .info_section .col-lg-3 {
        margin:25px auto;
        text-align:center
    }
    .info_links ul {
        display:flex;
        flex-direction:column;
        align-items:center
    }
    .info_contact>div {
        justify-content:center
    }
    .info_social .social_container {
        justify-content:center
    }
}
@media (max-width:768px) {
    .hero_area {
        height:auto
    }
    .slider_section {
        padding:75px 0
    }
    .client_section .carousel-control-next,
    .client_section .carousel-control-prev {
        display:none
    }
    .contact_section form {
        padding:0
    }
    .contact_section button {
        margin:auto
    }
    .footer_section p {
        width:100%
    }
    .client_section .client_box {
        margin-left:auto;
        margin-right:auto
    }
    .slider_section .img-box {
        margin-top:25px
    }
}
@media (max-width:576px) {
    .slider_section .carousel-control-next,
    .slider_section .carousel-control-prev {
        display:none
    }
    .skill_section .custom_heading-container {
        justify-content:center
    }
    .slider_section {
        padding:45px 0
    }
    .portfolio_section .box {
        margin-bottom:20px
    }
}
@media (min-width:1200px) {
    .container {
        max-width:1170px
    }
}
@media (min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        display:none!important
    }
}
